C 0 0 "CLR*" 0 0 0 0 60 0 L
X "PIN_TEXT" "CLR*" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "1Q" 0 -100 0 0 60 0 L
X "PIN_TEXT" "1Q" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "1D" 0 -200 0 0 60 0 L
X "PIN_TEXT" "1D" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "2D" 0 -300 0 0 60 0 L
X "PIN_TEXT" "2D" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "2Q" 0 -400 0 0 60 0 L
X "PIN_TEXT" "2Q" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "3Q" 0 -500 0 0 60 0 L
X "PIN_TEXT" "3Q" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "3D" 0 -600 0 0 60 0 L
X "PIN_TEXT" "3D" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "4D" 0 -700 0 0 60 0 L
X "PIN_TEXT" "4D" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "4Q" 0 -800 0 0 60 0 L
X "PIN_TEXT" "4Q" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "GND" 0 -900 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 1100 0 "VCC" 1100 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "8Q" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "8Q" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "8D" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "8D" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "7D" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "7D" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
C 1100 -400 "7Q" 1100 -400 0 0 60 0 R
X "PIN_TEXT" "7Q" 870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -400 1100 -400 -1 0
C 1100 -500 "6Q" 1100 -500 0 0 60 0 R
X "PIN_TEXT" "6Q" 870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -500 1100 -500 -1 0
C 1100 -600 "6D" 1100 -600 0 0 60 0 R
X "PIN_TEXT" "6D" 870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -600 1100 -600 -1 0
C 1100 -700 "5D" 1100 -700 0 0 60 0 R
X "PIN_TEXT" "5D" 870 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -700 1100 -700 -1 0
C 1100 -800 "5Q" 1100 -800 0 0 60 0 R
X "PIN_TEXT" "5Q" 870 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -800 1100 -800 -1 0
C 1100 -900 "CLK" 1100 -900 0 0 60 0 R
X "PIN_TEXT" "CLK" 870 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -900 1100 -900 -1 0
L 200 100 900 100 -1 0
L 900 -1000 900 100 -1 0
L 900 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

